body{
    background-color: burlywood;
}
h1{
    color: rgb(112, 85, 50);
   ;margin: auto;
  width: 22%;
  padding: 10px
}
h2{
    color: rgb(112, 85, 50);
    ;margin: auto;
  width: 95%;
  padding: 10px
    
}
img{
    width: 220px;
    height: auto;

}
p{
    color: rgb(112, 85, 50); 
}
a{
    color: rgb(98, 74, 42);
}